/* Mission.css */

.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: rgb(181, 178, 158);
    background-image: '/images/polut.JPG';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
  }
  
  .mission h1 {
    color: #4a3232; 
    font-size: 5rem; /* Adjust font size as needed */
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px; /* Space between heading and paragraphs */
  }

  .mission h2 {
    color: #045f8d; /* Light blue heading */
    font-size: 2rem; /* Adjust font size as needed */
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px; /* Space between heading and paragraphs */
  
  }
  
  .mission p {
    color: #4089ae; /* Darker text color */
    font-size: 2rem; /* Adjust font size as needed */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Light blue border */
    padding: 30px; /* Increase padding for a more spacious look */
    border-radius: 10px; /* Rounded corners */
    background-color: #070707; /* White background */
    text-align: center;
    margin-bottom: 20px; /* Space between paragraphs */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  